PORT=8080
NODE_ENV=development

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

EMAIL_USER=
EMAIL_PASS=

GEMINI_API_KEY=
SESSION_SECRET=

AI_INTEGRATIONS_GEMINI_BASE_URL=https://generativelanguage.googleapis.com
AI_INTEGRATIONS_GEMINI_API_KEY=
